@import url(https://fonts.googleapis.com/css?family=Slabo+27px|Roboto+Condensed:400,700);

h1 {
  color:green;
}
  font size:30em;

html{height:100%}
body {
  height:100%;
  background-image:url("img/light-bg1.png");
    text-align:center;
  font-family:"slabo 27px"



}

.btn{
  font-size:inherit;
color: white;
background-color: purple;
  text-decoration: none;
  padding: 1em 2em 0.5em 0.5em;
margin-bottom: 1.5em
  display: inline-block;
}


.guess{
  font-size:2em;
  display:block;
  margin:0 auto 1em;}

 .trophy
  {height:1em:

  }




}